{ pkgs }:

{
  systemSettings = {
    system = "x86_64-linux";
    hostname = "hostname";
    profile = "profile";
    timezone = "Europe/Something";
    locale = "en_US.UTF-8";
  };

  # Rec is recursive when you need more complex sets and nests
  #userSettings = rec {
  userSettings = {
    username = "username";
    name = "display name";
    email = "email";
    theme = "dracula";
    term = "kitty"; # Default terminal command;
    font = "Intel One Mono"; # Selected font
    fontPkg = pkgs.intel-one-mono; # Font package
    editor = "nano"; # Default editor;
  };
}